<div class="box-border border-4 text-center rounded-lg p-20 mt-20 mx-20 flex flex-col justify-center">
  <h1 class="text-xl font-bold" *ngIf="!emailSent">
    Please enter your email address to reset your password:
  </h1>
  <h1 class="text-xl font-bold" *ngIf="emailSent">An Email has been sent to you to reset your password!</h1>
  <form #emailForm="ngForm" [ngClass]="{'hidden': emailSent}">
    <div class="flex flex-col">
      <div class="flex flex-row pr-4 pt-4 justify-center">
        <h2 class="text-lg text-center font-semibold">
          Email:
        </h2>
        <input class="ml-4 bg-gray-200" name="email" [(ngModel)]="userEmail" #emailField="ngModel" required email>
      </div>
      <div>
        <button class="bg-gray-200 p-2 rounded-xl mt-3 hover:text-white hover:bg-gray-600" (click)="onSubmit()"
          [disabled]="emailForm.invalid">
          Submit
        </button>
        <p *ngIf="(emailField.invalid && emailField.touched)" class="pt-2 text-red-400">Please Enter a Valid Email!</p>
        <p *ngIf="errorReset" class="pt-2 text-red-400">Unable to find this email!</p>
      </div>
    </div>
  </form>
</div>