<div class="flex flex-col h-screen justify-between">
  <app-navbar></app-navbar>
  <div class="py-24 flex flex-col justify-between items-center">
    <h1 class="underline decoration-4 decoration-gray-400 underline-offset-8 text-3xl font-bold">Home</h1>
    <ul class="flex flex-col md:flex-row justify-center">
      <li *ngFor="let display of displayDescriptions">
        <app-info-box [descriptor]="display.descriptor" [imgUrl]="display.imgUrl"
          [items]="display.items"></app-info-box>
      </li>
    </ul>
  </div>
  <app-footer></app-footer>
</div>