<div class="login-container">
  <h2 class="text-lg font-bold">Multi-Factor Authentication Required</h2>
  <p class="text-md" [ngClass]="{'hidden':mfaWrong}">Enter the code which was just sent to your preferred MFA option:</p>
  <p class="text-md" [ngClass]="{'hidden':!mfaWrong}">Wrong code! Please enter the new code that was just sent:</p>
  <div class="form-group">
    <input type="text" id="code" name="code" [(ngModel)]="usrCode" required placeholder="Enter Code">
  </div>
  <button (click)="navHome()" class="login-button">Continue</button>
</div>