<div [ngStyle]="getGradientStyle()">
  <div class="w-full p-6 shadow-2xl flex flex-row justify-around">
    <h2 class="text-white">Copyright &copy; 2023 Horizon Systems and Services, Inc. All Rights Reserved</h2>
    <div class="flex flex-row">
      <h3 class="text-blue-400 text-sm pr-6">Contact Info</h3>
      <button (click)="gotoTop()" class="flex flex-col items-center justify-center">
        <img class="w-7 h-7 text-white" src="../../assets/Top.svg" alt="">
        <div
          class="w-28 h-8 pb-16 pt-4 origin-bottom-right opacity-0 hover:opacity-100 duration-300 absolute bottom-0 z-10 flex justify-center items-center text-sm text-white font-light">
          go back to top</div>
      </button>
    </div>
  </div>
</div>