<div id="nav" [ngStyle]="getGradientStyle()">
<div class="px-10 flex justify-between items-center md:justify-evenly flex-row rounded-b-lg shadow-2xl">
  <div class="p-4 bg-white" id="top">
    <a routerLink="/home">
      <img class="h-20 w-20" src={{getLogoUrl()}} />
    </a>
  </div>
  <div class="-mr-2 -my-2 md:hidden">
    <button type="button" (click)="toggleMenu()"
      class="rounded-md p-2 inline-flex items-center justify-center text-white hover:bg-[#0077B6]">
      <svg class="h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </div>
  <div class="absolute z-30 top-28 inset-x-0 transition ease-in-out md:hidden" *ngIf="menuOpen">
    <div class="rounded-lg min-h-5/6 shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
      <div class="py-4 px-5 flex flex-col justify-center items-center">
        <div class="grid gap-4">
          <div class="text-center text-lg font-bold text-black hover:opacity-60">
            <a *ngIf='!isLoggedIn();else otherOpt' (click)="navigateToLogin()">
              Login
            </a>
            <ng-template (ckick)="logOut()" #otherOpt class="pt-4">
              Logout
            </ng-template>
          </div>
          <a *ngFor="let option of navOptions"
             class="text-center text-lg font-bold text-black hover:opacity-60">
            <div>
              {{option}}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <ul class="hidden md:visible md:flex flex-row justify-center sm:justify-around">
    <li class="text-lg text-center px-4 lg:text-xl hover:text-gray-400 lg:px-10 text-white text-bold  py-10">
      Make A Payment 
    </li>
    <li class="text-lg text-center px-4 lg:text-xl hover:text-gray-400 lg:px-10 text-white text-bold  py-10">
      Report A Claim
    </li>
    <li class="text-lg text-center px-4 lg:text-xl hover:text-gray-400 lg:px-10 text-white text-bold  py-10">
      <button type="button" (click)="toggleCustomerCareMenu()">
        Customer Care
      </button>
      <div class="fixed z-30 top-22 right-64 transition ease-in-out pr-12" *ngIf="customerCareMenuOpen">
        <div class="rounded-lg  shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
          <div class="py-4 px-5 flex flex-col justify-center items-center">
            <div class="grid gap-4">
              <div class="text-center text-lg font-bold text-black hover:opacity-60">
                <a>
                  Account Settings
                </a>
              </div>
              <div class="text-center text-lg font-bold text-black hover:opacity-60">
                <a  routerLink="/preferences">
                  Customer Preferences
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li *ngIf='!isLoggedIn();else otherOpt' (click)="navigateToLogin()" class="text-lg text-center px-4 lg:text-xl hover:text-gray-400 lg:px-10 text-white text-bold  py-10">
      Login
    </li>
    <ng-template #otherOpt>
      <li class="text-lg text-center px-4 lg:text-xl hover:text-gray-400 lg:px-10 text-white text-bold  py-10">
        Hello {{this.getUsername()}}!
      </li>
      <li (click)="logOut()" class="text-lg text-center px-4 lg:text-xl hover:text-gray-400 lg:px-10 text-white text-bold  py-10">
        Logout
      </li>
    </ng-template>
  </ul>
</div>
</div>
