<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="text" id="username" name="username" [(ngModel)]="username" required placeholder="Username">
    </div>
    <div class="form-group">
      <input type="password" id="password" name="password" [(ngModel)]="password" required placeholder="Password">
    </div>
    <br/>
    <button type="submit" class="login-button" >LOG IN</button>
    <button type="submit" class="login-button" >LOG IN WITH SSO</button>
  </form>
    <div class="bottom-links">
      <a href="#">Register</a> | <a href="#">Forgot Password</a>
    </div>
</div>

