.login-container {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif; 
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .form-group input {
    width: 40%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: grey;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    width: 45%;
  }
  
  .login-container h2 {
    font-size: 22px;
  }
  
  .login-container p {
    font-size: 14px; 
  }
  